/*Contacto*/
  @import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Open+Sans:wght@300&family=Oswald:wght@200;400;700&family=PT+Serif:ital@0;1&family=Playfair+Display&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    font-family: 'Ephesis', cursive;
    background-color: blanchedalmond;
    min-height: 100vh;
    width: 100%;
    display: flex;


  }
  .form{
    background-color: aqua;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
  }

  .form__input{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0em 1em;
    outline: none;
    border: none;
    border: 1px solid rosybrown;
    border-radius: 1rem;

  }

  .form__input--mensaje{
    resize: none;
    padding: 5px;
  }

  .form__btn{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    background-color: #667eea;
    color: beige;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    padding: 5px 10px;
    
    
  }

  .container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
  }

  .titulo{
    text-align: center;
    margin-bottom: .4em;
    font-size: 3.0em;
  }

  @media (max-width) {
    .form{
        padding: 3.5rem 1rem;
    }
  }

  .dark--mode--btn{
    position:absolute;
    align-content: center;
    align-items: center;
    align-self: center;
    top: 15%;
    left: 10px;
    margin: 10px;
    padding: 10px;
    border: 10px;
    background: black;
    border: #000 solid;
    border-radius: 50px;
    background-color: aliceblue;
  }

  body.dark--mode{
    background-color: #666;
}

body.dark--mode .form{
  background-color: #666;
  border: 2px solid white;
}

body.dark--mode .form__input{
  background-color: #444;
}

body.dark--mode .form__input--mensaje{
  color: white;
}